In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [6]:
#Modelling
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from catboost import CatBoostRegressor

In [11]:
from xgboost import XGBRegressor

#### Import the data set to Pandas DF

In [14]:
df = pd.read_csv('StudentsPerformance.csv')

In [15]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

#### Preparing the X and Y variables 
####(The Dependent and Independent variables)

In [16]:
X = df.drop(columns=['math_score'],axis=1)

In [17]:
X.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [24]:
#printing all the categories in X

print("Categories in 'gender' : ", end = " ")
print(X['gender'].unique())
print()
print("Categories in 'race_ethnicity' : ", end = " ")
print(X['race_ethnicity'].unique())
print()
print("Categories in 'parental_level_of_education' : ", end=" ")
print(X['parental_level_of_education'].unique())
print()
print("Categories in 'test preparation course' variable:     ",end=" " )
print(df['test_preparation_course'].unique())

Categories in 'gender' :  ['female' 'male']

Categories in 'race_ethnicity' :  ['group B' 'group C' 'group A' 'group D' 'group E']

Categories in 'parental_level_of_education' :  ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']

Categories in 'test preparation course' variable:      ['none' 'completed']

In [18]:
y = df['math_score']

In [19]:
y.head()

0    72
1    69
2    90
3    47
4    76
Name: math_score, dtype: int64